*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-image: url('./image/تنزيل.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: none;
}
:root{
  --pink:#FF5C8D
}
a{
  text-decoration: none;
}
/* start nav */
nav.navbar{
  background-color: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.411);
  margin-bottom: 50px;
}
nav .links{
  justify-content: end;
}
nav a{
  color: white !important;
}
nav .title{
  font-weight: 700;
}
nav .links a{
  font-size: 20px;
  font-weight: 600;
}
/* strat slides */
.slide{
  padding-bottom: 40px;
}
.slide .box{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 280px;
  border-radius: 12px;
  position: relative;
}
.slide .box::before,
.random::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #373f51;
  border-radius: 12px;
  opacity: .6;
  z-index:1;
}
.slide .text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  z-index: 2;
}
.slide .text h3{
font-weight:800;
text-shadow: 0 2px 0 rgb(0,0,0,30%);
}
.slide .text p{
  font-weight: 600;
  text-shadow: 0 2px 0 rgb(0,0,0,30%);
}
.swiper-button-next,
.swiper-button-prev
{
  color:white !important;
  background-color: var(--pink);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 25px;
}
.swiper-button-next{
  right: 2px !important;
}
.swiper-button-prev{
  left:2px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 1.5rem !important;
  font-weight: bold;
}
/* start news */
.flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.flex .news{
  width:65%
}
.flex .news .box{
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px 20px 30px;
  text-align: center;
}
.flex .news img{
  border-radius: 10px;
  width: 100%;
  height: 20rem;
  margin-bottom: 20px;
}
.flex .news h2{
  margin-bottom: 15px;
}
.flex .news span,
.new .home span{
  color:#777;
  font-size: 1.2rem;
  display: inline-block;
}
.flex .news .icon,
.new .home .icon{
  margin-right: 10px;
  color: var(--pink);
}
.flex .news h4{
  padding: 30px;
  color:#777;
  font-size: 1.2rem;
  line-height: 1.5;
}
.flex .news button{
  background-color: var(--pink);
  border: none;
  color:white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.3rem;
  transition: .5s;
  position: relative;
}
.flex .news button:hover{ 
transform: translateY(-10px); 
}
/* start recent post */
.details{
  width:35%;
  position: sticky;
  right: 0;
  top: 30px;
}
.recent,.categories{
  background-color: white;
  padding: 30px 30px 50px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}
.recent img{
  width:65px;
  height: 65px;
  border-radius: 50%;
}
.recent .box{
  display: flex;
}
.recent h2,.categories h2{
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom:1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.recent .box{
  margin-bottom: 20px;
}
.recent img{
  margin-right: 20px;
}
span{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recent h5{
  font-size: 1rem;
  color: #777;
  opacity: .8;
}
.recent h4{
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}
/* start categories */
.categories ul{
padding: 0;
}
.categories ul li{
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.categories ul li a{
  color:#777;
}
/* new*/
.new{
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
}
.new .home{
width:65%;
margin-right: 30px;
}
.new .post{
padding: 20px 20px 40px;  
background-color: white;
border-radius: 10px;
margin-bottom: 20px;
}
.new .home img{
  width: 100%;
  height: 35rem;
  border-radius: 10px;
  margin-bottom: 25px;
}
.new .home h2{
  font-weight: 600;
  margin-bottom: 25px;
}
.new .home span{
  margin-bottom: 25px;
  color: #777;
}
.new .home p{
  color:#777
}
/* random post */
.random{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  margin-bottom: 20px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.random .arrow{
  background-color: var(--pink);
  border-radius: 50%;
  padding: .8rem;
  font-size: 22px;
  color: white;
  position: absolute;
  right: 20px;
  z-index: 2;
  transition: .3s;
}
.random .arrow:hover{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.random .text{
  position: relative;
  z-index: 2;
  text-align: center;
}
@media(max-width:1050px)
{
  .flex,
  .new{
      flex-direction: column;
  }
  .flex .details,
  .new .details{
      width: 100%;
  }
  .flex .news,
  .new .home{
      width: 100%;
  }
  .flex .news .box,
  .new .home .post{
      padding: 0 0 20px;
  }
  .flex .news .box img,
  .new .home .post img{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .new .home .post .text{
      padding: 10px 20px;
  }
  .new .home .post img{
      height: 20rem;
  }
}